.recommend-exclusive {
  width: 100%;
  margin-bottom: 60px;
  .content {
    display: inline-block;
    position: relative;
    width: 50%;
    .image-wrapper {
      width: 100%;
      overflow: hidden;
      .image {
        margin-left: -10%;
        width: 120%;
      }
    }
    .icon-dynamicPlay {
      position: absolute;
      top: 5px;
      left: 5px;
      border: solid 1px #fff;
      border-radius: 50%;
      color: #fff;
      transform: rotate(90deg)
    }
    .text {
      height: 32px;
      line-height: 16px;
      font-size: 14px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}
